:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;
    --butnbg: #ffcc00;
    --butnfontcolor: rgb(61, 61, 61);
    --butnfontcolorhover: rgb(255, 255, 255);
    --butnbghover: #ffc116;
    --butnactivefs: rgb(241, 195, 46);
    --label-index: #960796;
    --danger-index: #5bc257;
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #ffcc00;
}
.container-fluid {
    max-width: 1400px;
} 
.cards {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}
.imgtop {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}
.cards h2 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}
.txt{
    color: white;
}
.txt:hover{
    color: red;
}
.cards h2 a {
  color: black;
  text-decoration: none;
} 
.cards:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
}

.aff-link {
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-butn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .butn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .butn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .butn {
        padding: 5px 30px 5px 30px;
    }
}

.butn-warning {
    background: var(--butnbg);
    color: var(--butnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    border-radius: 100px;
}
.butn-warning:hover {
    background: var(--butnbghover);
    color: var(--butnfontcolorhover);
}
.butn-check:focus + .butn-warning, .butn-warning:focus {
    background: var(--butnbghover);
    color: var(--butnfontcolorhover);
}
.butn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--butnactivefs);
}
.butn-warning:active {
    background: var(--butnbghover);
    color: var(--butnfontcolorhover);
}

.bg-success {
    font-size: 1rem;
    background-color: var(--butnbg)!important;
    color: var(--butnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}
.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}